<div class="form-group">
    <label for="id_{{name}}">{{label}}{% if required %}<i class="fa fa-asterisk"></i>{% endif %}</label>
    <select class="form-control" id="id_{{name}}" name="{{name}}" {% if required %}required="required"{% endif %}>
        <option></option>
        {% for x in range(choices[0],choices[1]) %}
        <option value="{{x}}">{{x}}</option>
        {% endfor %}
    </select>
</div>