<div class="form-group">
    <label for="id_{{name}}">{{label}}{% if required %}<i class="fa fa-asterisk"></i>{% endif %}</label>
    {% for c in choices %}
    <div class="checkbox"{% if loop.index == 1 %} id="id_{{name}}"{% endif %}>
        <label>
            <input type="checkbox" name="{{name}}" value="{{c[1]}}" >
            {{c[0]}}
        </label>
    </div>
    {% endfor %}

</div>