<div class="form-group">
    <label for="id_{{name}}">{{label}}{% if required %}<i class="fa fa-asterisk"></i>{% endif %}</label>
    <input type="email" class="form-control" id="id_{{name}}" name="{{name}}" placeholder="{{name}}" {% if required %}required="required"{% endif %}>
</div>