<div class="form-group">
    <label for="id_{{name}}">{{label}}{% if required %}<i class="fa fa-asterisk"></i>{% endif %}</label>
    {% for c in choices %}
    <div class="radio"{% if loop.index==1 %} id="id_{{name}}"{% endif %}>
        <label>
            <input type="radio" name="{{name}}" value="{{c[1]}}">
            {{c[0]}}
        </label>
    </div>
    {% endfor %}
</div>