<div class="form-group">
    <label for="id_{{name}}">{{label}}{% if required %}<i class="fa fa-asterisk"></i>{% endif %}</label>
    <textarea class="form-control" id="id_{{name}}" name="{{name}}" placeholder="{{name}}" {% if required %}required="required"{% endif %}></textarea>
</div>