.step, #survey_buttons, #completed_block, #thankyou_block, #error_block{
    display: none;
}
#loading p, #completed_block p, #thankyou_block p, #error_block p{
    text-align: center;
    padding: 20px;
}
.bottom-padder{
    padding-bottom: 50px;
}
.fa-asterisk{
    position:relative;
    top: -5px;
    font-size: 0.7em;
    color:red;
}