{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Admin Area</h1>
    <div class="row" id="error_block">
        <p class="bg-danger">There was an error loading survey response data.  Please try reloading the page.</p>
    </div>
    {% if summaries %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Summary</h3>
                {% for summary in summaries %}
                    <div class="col-sm-4 summary">
                        {{ summary|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <h3>Survey Responses for Survey #{{survey_id}}</h3>
            <table class="table">
                <thead>
                    <tr>
                        {% for field in fields %}
                            <th>{{field.label}}</th>
                        {% endfor %}
                        <th>Completed</th>
                    </tr>
                </thead>
                <tbody id="survey-data">

                </tbody>
            </table>
        </div>

    </div>
</div>


{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}