{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/survey.css') }}">
{% endblock %}

{% block content %}
        <div class="container">
            <h1 class="page-header">
                Survey #{{survey_id}}
            </h1>

            <!-- message blocks -->
            <div class="row" id="loading">
                <p class="bg-info"><i class="fa fa-spin  fa-spinner"></i> Please wait.  Loading survey... </p>
            </div>
            <div class="row" id="completed_block">
                <p class="bg-info">You have already completed our Survey!</p>
            </div>
            <div class="row" id="thankyou_block">
                <p class="bg-success">Thank you for taking part in our Survey!</p>
            </div>
            <div class="row" id="error_block">
                <p class="bg-danger">There was a problem with your Survey.  Please try again!</p>
                <p class="bg-danger" id="survey_errors"></p>
            </div>
            <!-- end message blocks -->

            <form id="survey_form">
                <input type="hidden" name="complete" value="no" id="id_complete">
                <input type="hidden" name="validate_step" value="" id="id_validate_step">
                <div class="row">
                    <div class="col-md-12">

                        {% for step in steps %}
                        <div class="step" id="step{{ loop.index }}" data-step="{{ loop.index }}">
                            {% if steps|length > 1 %}<h2>Step {{ loop.index }}</h2>{% endif %}
                            {% for question in step %}
                                {{ fields[question]|safe }}
                            {% endfor %}
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </form>

            <div class="row " id="survey_buttons">
                <div class="col-xs-4">
                    <button class="btn btn-info " id="prev">Prev</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-info " id="next">Next</button>
                </div>
                <div class="col-xs-4" >
                    <button class="btn btn-primary" id="finish">Finish</button>
                </div>
            </div>



            <div class="bottom-padder"></div>

        </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/survey.js') }}"></script>
{% endblock %}
